<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    {{ if .IsHome }}
    {{ $firstCategory := index .Site.Menus.main 0 }}
    <link rel="canonical" href="{{ $firstCategory.URL | absURL }}">
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <a href="{{ .Site.BaseURL }}" class="logo">{{ .Site.Title }}</a>
                <ul class="nav-menu">
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}" {{ if or (eq $.RelPermalink .URL) (hasPrefix $.RelPermalink .URL) (and $.IsHome (eq .Weight 1))
                            }}style="font-weight: bold;" {{ end }}>{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
