{{ define "main" }}
<div class="portfolio-grid-container">
    <div class="portfolio-grid">
        {{ range .Pages }}
        <div class="portfolio-item">
            <a href="{{ .RelPermalink }}">
                {{ if .Params.image }}
                {{ $image := .Resources.GetMatch .Params.image }}
                {{ if $image }}
                {{ if eq $image.MediaType.SubType "svg" }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" loading="lazy">
                {{ else }}
                {{ $resized := $image.Resize "600x webp q80" }}
                <img src="{{ $resized.RelPermalink }}" alt="{{ .Title }}" loading="lazy">
                {{ end }}
                {{ else }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" loading="lazy">
                {{ end }}
                {{ end }}
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }} 