{{ define "main" }}
<div class="portfolio-grid-container">
    {{ $firstCategory := index .Site.Menus.main 0 }}
    {{ $categoryPage := .Site.GetPage $firstCategory.Identifier }}
    {{ if $categoryPage }}
    <div class="portfolio-grid">
        {{ range $categoryPage.Pages }}
        <div class="portfolio-item">
            <a href="{{ .RelPermalink }}">
                {{ if .Params.image }}
                {{ $image := .Resources.GetMatch .Params.image }}
                {{ if $image }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
                {{ else }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
                {{ end }}
                {{ end }}
            </a>
        </div>
        {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
